
.logo img {
	height: 30px;
  width: 30px;
	margin-top: 7px;
}
.v {
background:#D98880;
color: black;
margin-top: 7px;
border-radius: 7px;
}
.card-img-top{
	border-radius: 20px;
}
.va {
background: #fab1a0 ;
color: black;
margin-left: 100px;
margin-top: 7px;
border-radius: 7px;
}
.va:hover{
	background-color: #D98880;
}

.vaa {
background: #fab1a0 ;
color: black;
margin-top: 7px;
margin-left: 10px;
border-radius: 7px;
}
.vaa:hover{
	background-color: #D98880;
}
.page{
	background-color: #74b9ff;
	font-family: 'Tillana', cursive;
}
.show {
  display: block;
}
.container {
  margin-top: 20px;
  overflow: hidden;
}
.btn {
  background-color: #fab1a0;
}
.btn:hover{
	background-color: #D98880;
}
.btn-a {
  background-color: #fab1a0;
	border-radius: 7px;
}
.btn-a:hover{
	background-color: #D98880;
}
.b{
	color: #d63031;
}
.a{
margin-top:100px;
text-align: center;
}
.card{
	margin-top:20px;
	border-radius: 20px;
}
