<style>
.container{
  margin-top:100px;
  margin-left:200px;

}
.img{
  margin-top:100px;
  margin-left:100px;

}
.button{
  margin-left:100px;
}
</style>
      <main class="a">
    		<div class="container">
    		    <div id="profil" class="row">
    		      <div class="col-lg-4">
    		        <h2></h2>
                <h2></h2>
                <h2></h2>
    		        <h2></h2>
    		      </div><!-- /.col-lg-4 -->
    		    </div><!-- /.row -->
    			</div>
    			<!-- Button trigger modal -->
    		</main>
        <script type="text/javascript">
          getM();
          function getM(){
          let genre;
          	$.ajax({
          			url: "rest/mo",
          			type: "GET",
          			success: function(data) {
          					$("#profil").html("");
          					var html = "";
                    for(let i = 0; i < data.length; i++){
          					html += `
          					<div class="col-lg-4">
          				 		 <h2  Name: `+ data[i].movie_title +`</h2>
                       <h2  Surname: `+ data[i].movie_year +`</h2>
                       <h2  Username: `+ data[i].id +`</h2>
                       <h2  E-mail: `+ data[i].movie_title +`</h2>
          				  </div>
          					`;
                  }
                  $("#profil").html(html);
          					}

          	});
          	  }
          </script>
